/*
font-family: 'Commissioner', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.slick-slide {
    outline: none;
}


button {
    cursor: pointer;
}

body {
    box-sizing: border-box;
}

.wrapper {
    width: 65%;
    margin: 0 auto;
}

.top_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}

.voka {
    position: absolute;
    top: 16px;
    left: 50%;
}

.contacts_block {
    display: flex;
    align-items: center;
    font-family: 'Commissioner', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
}

.contacts_block>a {
    color: rgba(0, 0, 0, 0.507);
    margin-right: 15px;
}

.contacts_block>a:nth-child(6) {
    margin-right: 0;
}

select {
    border: none;
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
    outline: none;
}

option {
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
}

.language {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif
}

.lang {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
    margin-right: 13px;
}


.bottom_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0 22px 0;
}

nav>ul {
    display: flex;
    font-family: 'Commissioner', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

nav>ul>li {
    list-style-type: none;
    margin-right: 50px;
}

nav>ul>li:last-child {
    margin-right: 0;
}

nav>ul>li>a {
    color: rgba(0, 0, 0, 0.75);
}


.container {
    position: relative;
    height: 650px;
}

.main_container {
    background: url(../image/slider/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 300px;
}

.slide1 {
    background: url(../image/slider/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 300px;
}

.slide2 {
    background: url(../image/slider/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 300px;
}

.slide3 {
    background: url(../image/slider/bg4.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 300px;
}

.slide4 {
    background: url(../image/slider/bg5.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 300px;
}

.main_heading {
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.9);
}

.main_text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
    margin: 20px 0 50px 0;
}

.btn {
    background: #DEC377;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.08em;
    width: 200px;
    height: 45px;
}

.btn:hover,
.btn:focus {
    background: white;
    color: #DEC377;
    outline: none;
    border: 3px solid #DEC377;
}

.btn:hover {
    transition: background 0.4s linear;
}

.slider {
    outline: none;
}

.main {
    position: relative;
}

.arrows {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 60px;
    position: absolute;
    z-index: 3;
    bottom: 25%;
}

.left_arrow {
    background: url(../image/left.png) no-repeat;
    background-size: cover;
    width: 11px;
    height: 18px;
    cursor: pointer;
}

.right_arrow {
    background: url(../image/right.png) no-repeat;
    background-size: cover;
    width: 11px;
    height: 18px;
    cursor: pointer;
}

.grey_container {
    background: #E5E5E5;
}

.cards_block {
    display: flex;
    justify-content: center;
    position: relative;
    top: -80px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    margin-right: 30px;
    text-align: center;
    width: 35%;
    height: 285px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.75);
}

.item:nth-child(4) {
    margin-right: 0;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.main_introduction {
    display: flex;
    justify-content: space-between;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.introduction_photo>img {
    background-size: cover;
}

.introduction_text {
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 70px;
}

.introduction_text>h2 {
    max-width: 541px;
}

.intro_text {
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
    max-width: 470px;
}


.intro_heading {
    font-family: 'Commissioner', sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 30px;
}

.main_directions {
    padding-top: 100px;
    padding-bottom: 100px;
}

.main_directions_cards {
    display: grid;
    grid-template-columns: repeat(3,minmax(50px,1fr));
    grid-template-rows: repeat(3,140px);
    gap: 30px;
    margin-bottom: 40px;
}

.small_circle {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    margin: 15px;
}

.card {
    display: flex;
    background: white;
    position: relative;
}

.info_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    height: 90px;
    margin: 25px 55px 25px 40px;
}

.info_card>h5 {
    font-family: 'Commissioner', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
}

.btn_card {
    border: none;
    background: none;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.5);
    width: 78px;
    height: 20px;
}


.principle_text {
    display: flex;
}

.principle_title>h2 {
    width: 370px;
}

.about_principle {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
    width: 770px;
}

.wrap {
    width: 72%;
    margin: 0 auto;
}

.gallery_container {
    position: relative;
    bottom: -95px;
    display: flex;
    align-items: center;
}

.main_gallery {
    width: 90%;
    margin: 0 auto;
}

.gallery_item>img {
    width: 100%;
}

.left {
    background: url(../image/lft.png) no-repeat;
    width: 17px;
    height: 30px;
    cursor: pointer;
}

.right {
    background: url(../image/rght.png) no-repeat;
    width: 17px;
    height: 30px;
    cursor: pointer;
}

.white_container {
    padding-top: 210px;
}

.main_reviews {
    position: relative;
}

.slide {
    height: 590px;
    display: flex;
}


.review {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    outline: none;
    margin: 15px;
    width: 570px;
    height: 585px;
}


.review_photo>img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}


.about_review {
    padding: 40px 50px 65px 50px;
}

.about_review>span {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.5);
}

.head_review {
    font-family: 'Commissioner', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #DEC377;
    margin-bottom: 20px;
}

.review_text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 25px;
}

.review_btn {
    width: 95px;
    height: 20px;
}

.review_arrows {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 60px;
}

.left_arrow1 {
    background: url(../image/left.png) no-repeat;
    background-size: cover;
    width: 11px;
    height: 18px;
    cursor: pointer;
}

.right_arrow1 {
    background: url(../image/right.png) no-repeat;
    background-size: cover;
    width: 11px;
    height: 18px;
    cursor: pointer;
}

.review_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.slide .slick-dots button {
    width: 10px;
    height: 10px;
    border-radius: 300px;
    background: rgba(0, 0, 0, 0.1);
}


.slide .slick-dots li button::before {
    display: none;
}

.slide .slick-dots li button:hover, .slick-dots li button:focus {
    background: #DEC377;
}

.slide .slick-dots {
    position: relative;
    bottom: -40px;
    width: 100px;
    left: 46.5%;
}

.slide .slick-dots li.slick-active button {
    background-color: #DEC377;
}

.main_parthners {
    margin: 105px 0 100px 0;
}

.main_parthners_top {
    display: flex;
}

.main_parthners_top>button {
    margin-left: 100px;
}

.parthners_text {
    width: 670px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
}

.parthners_block {
    display: flex;
    margin-top: 40px;
}

.parthners_block>a>img {
    width: 100%;
    height: auto;
}

.parthners_block>a:not(:last-child) {
    margin-right: 60px;
}

.gray_container {
    background: #E5E5E5;
}

.card_block {
    padding-top: 80px;
    padding-bottom: 50px;
}

.top_card {
    display: flex;
}

.cards{
    width: 50%;
    margin-right: 30px;
    margin-bottom: 30px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.second_card>img {
    width: 70px;
    height: 70px;
    float: right;
    top: 0;
}

.card_text {
    padding: 40px 50px 55px 50px;
}

.card_text>h4 {
    font-family: 'Commissioner', sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 45px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 15px;
}

.card_text>p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
}

.bottom_title {
    font-family: 'Commissioner', sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 45px;
    color: rgba(0, 0, 0, 0.9);
}

.bottom_text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
}


.cards:last-child {
    margin-right: 0;
}

.bottom_card {
    display: flex;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    padding: 40px 50px 45px 50px;
}

.bottom_title {
    width: 320px;
    margin-right: 30px;
}

.bottom_text {
    width: 720px;
}

.pen_bg {
    background: url(../image/pen_bg.png) no-repeat;
    background-size: cover;
    height: 180px;
}

.main_favor {
    padding-top: 70px;
    padding-bottom: 100px;
}

.scroll_block {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(5, 140px);
    grid-gap: 30px;
}

.block {
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.block_text {
    font-family: 'Commissioner', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.9);
    padding-top: 25px;
    padding-left: 100px;
}

.block>button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    margin-bottom: 20px;
}

.block1 {
    background: linear-gradient(to right,rgba(222, 195, 119, 0.4) 70px, 70px, white 100%);
    grid-column: 1/5;
}

.block2 {
    background: linear-gradient(to right,rgba(222, 195, 119, 0.4) 70px, 70px, white 100%);
    grid-column: 5/-1;
}

.block3 {
    background: linear-gradient(to right,rgba(222, 195, 119, 0.75) 70px, 70px, white 100%);
    grid-column: 1/6;
}

.block4 {
    background: linear-gradient(to right,rgba(222, 195, 119, 0.75) 70px, 70px, white 100%);
    grid-column: 6/-1;
}

.block5 {
    background: linear-gradient(to right,#DEC377 70px, 70px, white 100%);
    grid-column: 1/7;
}

.block6 {
    background: linear-gradient(to right,#DEC377 70px, 70px, white 100%);
    grid-column: 7/-1;
}

.favor_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.favor_text {
    width: 770px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
}

.main_confidance {
    background: white;
    padding: 80px 0 100px 0;
}

.confidance_block {
    display: flex;
}

.confidance_block:nth-child(1) {
    margin-bottom: 60px;
}

.confidance_block:last-child {
    margin-top: 66px;
}

.about_confidance {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
    width: 470px;
}

.list_item {
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-bottom: 35px;
    max-width: 440px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.75);
}

.list_item:last-child {
    margin-bottom: 0;
}

.list_icon {
    background: url(../image/icon_list.png) no-repeat;
    margin-right: 30px;
    width: 40px;
    height: 40px;
}

.line {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}


.main_advantages {
    background: #E5E5E5;
    padding-top: 80px;
}

.cards_container {
    display: flex;
}

.advantages_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
    background: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    height: 375px;
    margin-right: 30px;
}

.advantages_card:last-child {
    margin-right: 0;
}

.adv_logo {
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 25px;
}

.card_logo1 {
    background: url(../image/logo_card/adv1.png) no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
}
.card_logo2 {
    background: url(../image/logo_card/adv2.png) no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
}
.card_logo3 {
    background: url(../image/logo_card/adv3.png) no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
}
.card_logo4 {
    background: url(../image/logo_card/adv4.png) no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
}

.adv_text {
    padding: 0 20px;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.75);
}

.about_advantages {
    background: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    padding: 40px 0 45px 50px;
    margin-top: 40px;
    position: relative;
}

.about_advantages>img {
    top: 0px;
    right: 0px;
    position: absolute;
}

.about_text {
    max-width: 750px;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
}


.cooperation_left {
    width: 50%;
}

.list__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.list_type1 {
    background: url(../image/list_item_type/list_item1.png) no-repeat;
    width: 70px;
    height: 73px;
    margin-right: 30px;
}

.list_type2 {
    background: url(../image/list_item_type/list_item2.png) no-repeat;
    width: 70px;
    height: 73px;
    margin-right: 30px;
}

.list_text {
    max-width: 400px;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
}

.about_cooperation {
    max-width: 500px;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.8);
}


.cooperation_block {
    display: flex;
    padding: 100px 0;
}

.cooperation_right {
    width: 50%;
}

.postcard {
    padding: 40px 50px 50px 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.form-row {
    margin-bottom: 15px;
    font-family: 'Commissioner',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.form2 {
    font-family: 'Commissioner',sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.5);
}


.form3 {
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.politic {
    font-weight: bold;
    text-decoration: underline;
}

.form-row input[type="text"],
.form-row input[type="tel"] {
    width: 100%;
    padding: 10px 10px 0px 10px;
    border:none;
    border-bottom: 1px solid grey;
    outline: none;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.6;
}


.form-row input[type="submit"] {
    background: #DEC377;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.08em;
    width: 100%;
    height: 45px;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
}

.main_cost {
    padding-bottom: 100px;
}

.about_cost {
    max-width: 670px;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
}

.group_block {
    padding-top: 50px;
    padding-bottom: 60px;
    display: flex;
}

.first_block {
    width: 270px;
    margin-right: 30px;
}

.first_block_title {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.9);
    max-width: 270px;
}

.our_rating {
    margin: 60px 0 60px 0;
}

.our_rating>p {
    margin-top: 10px;
}

.caption {
    font-family: 'Commissioner',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 15px;
}

.add_text {
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.social_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.social_item1 {
    background: url(../image/social_icons/vk.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
}

.social_item2 {
    background: url(../image/social_icons/odnoklassniki.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
}

.social_item3 {
    background: url(../image/social_icons/linkedin.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
}

.social_item4 {
    background: url(../image/social_icons/instagram.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
}

.social_item5 {
    background: url(../image/social_icons/youtube.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
}

.social_item6 {
    background: url(../image/social_icons/facebook.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
}

.button {
    border: none;
    background: none;
    background: url(../image/arrow.png) no-repeat;
    background-position: right;
    width: 160px;
    text-align: left;

    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);

    margin-top: 30px;
}

.button_politic {
    width: 240px;
}

.second_block {
    width: 670px;
    margin-top: 30px;
    margin-right: 60px;
}

.title_block {
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}

.title_block::after {
    content: '';
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0.7;
    display: block;
    margin-top: 5px;
    margin-bottom: 30px;
}

.second_container {
    display: flex;
    justify-content: space-between;
}

.contacts_minsk {
    width: 200px;
}

.contact_title {
    font-family: 'Commissioner',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
}

.numbers {
    margin: 20px 0;
}

.adress_text {
    margin-top: 5px;
    display: block;
}

.caption1 {
    font-family: 'Commissioner',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.75);
}

.rus_residents {
    margin: 20px 0;
}

.info_email {
    font-family: 'Commissioner',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
}


.department_block {
    max-width: 200px;
    margin-bottom: 35px;
}

.department_block {
    margin-bottom: 0;
}

.dep_title {
    margin-bottom: 10px;
}

.dep_text {
    margin: 5px 0;
    display: block;
}

.email {
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
    display: block;
}

.third_block {
    margin-top: 30px;
    width: 170px;
}

.working_time {
    margin-bottom: 30px;
}

footer {
    background: rgba(0, 0, 0, 0.2);
}


.footer_title {
    text-align: center;
    padding: 17px 0 18px 0;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.8);
}








@media (max-width: 721px){
    .header {
        position: relative;
    }

    .voka {
        left: 90%;
    }
    
    .wrapper {
        width: 95%;
        margin: 0 15px;
    }

    .top_line {
        display: inline-block;
    }

    .contacts_block {
        padding: 15px 0;
        position: absolute;
        left: 25%;
    }

    .nav {
        display: none;
    }


    .container {
        height: 295px;
    }   

    .main_container,
    .slide1,
    .slide2,
    .slide3,
    .slide4 {
        padding: 40px 0;
    }

    .main_heading {
        font-size: 26px;
        line-height: 34px;
        height: 50px;
    }

    .main_text {
        width: 340px;
        height: 50px;
    }

    .arrows {
        bottom: 28%;
    }

    .intro_text {
        text-align: center;
        margin: 0 auto;
        width: 430px;
    }

    .cards_block {
        position: unset;
        padding: 40px 0;    
    }

    .item {
        margin-right: 10px;
    }

    .circle {
        width: 80px;
        height: 80px;
    }

    .item {
        font-size: 14px;
    }

    .introduction_photo {
        display: none;
    }

    .main_directions_cards {
        display: grid;
        grid-template-columns: repeat(3,minmax(50px,1fr));
        grid-template-rows: repeat(3,100px);
        gap: 30px;
        margin-bottom: 40px;
    }

    .info_card {
        margin: 5px 5px;
        width: 88px;
    }

    .info_card>h5 {
        font-size: 14px;
    }

    .info_card .small_circle {
        width: 50px;
        height: 50px;
    }

    .img1{
        width: 25px;
        height: 25px;
    }

    .btn_card {
        font-size: 9px;
    }

    .principle_text {
        display: unset;
    }

    .principle_title>h2 {
        width: 100%;
    }

    .about_principle {
        width: 100%;
        text-align: center;
    }

    .slide {
        height: 100%;
    }

    .about_review {
        padding: 5px;
    }

    .review_text  {
        height: 400px;
    }

    .scroll_block {
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(5, 100px);
        grid-gap: 30px;
    }

    .block_text  {
        font-size: 14px;
    }

    .favor_bottom {
        display: unset;
    }

    .main_favor {
        text-align: center;
    }

    .favor_text {
        width: 100%;
        margin: 15px 0;
    }

    .confidance_block {
        display: unset;
    }

    .confidance_text {
        text-align: center;
        margin-top: 20px;
    }

    .about_confidance {
        width: 100%;
    }

    .main_confidance {
        padding: 0;
    }

    .confidance_list {
        margin: 30px 0;
    }

    .cards_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .advantages_card {
        width: 45%;
        margin: 15px 0;
    }

    .cooperation_block {
        display: unset;
    }

    .intro_heading {
        text-align: center;
    }

    .cooperation_left,
    .cooperation_right {
        width: 100%;
        padding-top: 50px;
    }

    .cooperation_left > h2,
    .about_cooperation {
        text-align: center;
    }

    .about_cooperation {
        margin: 0 auto;
    }

    .list__item {
        justify-content: center;
    }

    .about_cost {
        text-align: center;
    }

    .main_cost> {
        text-align: center;
    }

    .group_block {
        display: unset;
    }

    .first_block {
        margin: 0 auto;
    }

    .working_time {
        margin: 0;
    }

    .working_time>.dep_text {
        margin: 0;
    }

    .second_block {
        margin-right: 0;
        width: 100%;
    }

    .third_block {
        position: relative;
        width: 100%;
    }

    .third_container {
        display: flex;
        justify-content: space-between;
    }
 
}

@media (max-width: 536px) {
    .wrapper {
        width: 90%;
    }

    .voka {
        left: 85%;
    }

    .contacts_block {
        padding-top: 30px;
        padding-bottom: 0;
        position: unset;
        font-size: 12px;
    }

    .bottom_line>img {
        width: 165px;
    }

    .main_heading {
        font-size: 20px;
        line-height: 24px;
        height: 50px;
    }

    .main_text {
        width: 100%;
    }

    .container {
        text-align: center;
        height: 294px;
    }

    .arrows {
        right: 41%;
    }

    .main_container,
    .slide1,
    .slide2,
    .slide3,
    .slide4 {
        background: none;
        background: #E5E5E5;
    }

    .cards_block {
        position: unset;
        padding: 40px 0;
    }

    .cards_block {
        display: flex;
        justify-content: center;
        position: unset;
        top: -80px;
        flex-wrap: wrap;
    }

    .item {
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: white;
        text-align: center;
        width: 46%;
        height: 200px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.75);
    }

    .item_text {
        font-size: 11px;
    }

    .intro_heading {
        font-size: 18px;
        line-height: 28px;
    }

    .intro_text {
        width: 90%;
        text-align: justify;
        padding: 0 15px
    }

    .introduction_text {
        padding: 15px 0;
    }

    .main_directions_cards {
        display: grid;
        grid-template-columns: repeat(3,minmax(91px,1fr));
        grid-template-rows: repeat(3,auto);
        gap: 7px;
        margin-bottom: 40px;
        text-align: center;
    }

    .btn_card {
        text-align: center;
        font-size: 9px;
    }

    .info_card>h5 {
        font-size: 12px;
    }
    
    .small_circle {
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 28px;
        bottom: 27px;
        margin: 0;
    }

    .main_directions {
        text-align: center;
    }

    .about_principle {
        text-align: justify;
    }

    .wrap {
        width: 85%;
    }

    .gallery_container {
        position: unset;
        margin-top: 25px;
    }

    .main_gallery {
        width: 79%;
    }

    .wrap {
        width: 90%;
    }

    .white_container {
        padding-top: 50px;
    }

    .head_review {
        font-size: 16px;
    }

    .review {
        height: 500px;
        width: 100%;
    }

    .slide .slick-dots {
        position: relative;
        bottom: -75px;
        width: 100px;
        left: 52.5%;
    }

    .main_parthners_top {
        display: unset;
    }


    .parthners_text {
        margin-bottom: 20px;
        width: 100%;
    }

    .parthners_block>a:not(:last-child) {
        margin-right: 15px;
    }

    .top_card {
        display: flex;
        flex-wrap: wrap;
    }
    
    .cards {
        margin-right: 0;
    }

    .pen_bg {
        background: url(../image/pen_bg.png) no-repeat;
        background-size: contain;
        height: 50px;
    }

    .block {
        text-align: left;
    }

    .scroll_block {
        grid-gap: 10px;
    }

    .block_text {
        font-family: 'Commissioner', sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.9);
        padding-top: 5px;
        padding-left: 75px;
    }

    .block>button {
        margin: 0;
    }

    .confidance_list {
        position: relative;
        right: 25%;
    }

    .list__item {
        display: unset;
    }


    .list_text {
        width: 100%;
        margin-bottom: 25px;
    }

    .main_cost {
        padding-top: 50px;
        text-align: center;
    }

    .first_block {
        margin: 0;
    }

    .cards {
        width: 100%;
    }

    .bottom_card {
        display: block;
    }

    .bottom_text {
        width: 100%;
    }

    .bottom_title {
        margin-bottom: 15px;
    }
}

@media (max-width: 479px) {
    .arrows {
        right: 39%;
        bottom: 27%;
    }

    .pen_bg {
        height: 45px;
    }

    .main_parthners_top>button {
        margin-left: 0;
    }

    .main_parthners {
        text-align: center;
    }
}

@media (max-width: 429px) {
    .arrows {
        right: 36%;
    }

    .block_text {
        padding-top: 20px;
        padding-left: 5px;
    }
}

@media (max-width: 415px) {
    .pen_bg {
        height: 39px;
    }

    .list__item {
        display: flex;
    }

    .list_text {
        width: 57%;
    }

    .second_container {
        flex-wrap: wrap;
    }
}

@media (max-width: 371px) {
    .confidance_list {
        position: unset;
    }

    .list_item {
        margin-left: 0;
    }

    .list_icon {
        background: url(../image/icon_list.png) no-repeat;
        margin-right: 30px;
        width: 66px;
        height: 40px;
    }

    .bottom_title {
        width: 100%;
    }
}





